*{
    /* margin: 0; */
    /* padding: 0; */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 0 200px ;

}
.text-primary{
    color: orangered;
}

.btn-primary{
    border-radius: 5px;
    background-color: orangered;
    border: 0;
    font-size: 25px;
    font-weight: 700;
    color: white;
    padding: 15px 30px;
}
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    }
nav > ul{
    align-items: center;
    display: flex;
    
}
nav li{
    
    list-style: none;
    margin-right: 51px;
    
}
nav a{
text-decoration: none;
color: rgb(49, 46, 46);

}

/* header releted style */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: left;
    /* position: relative; */
       
}
.banner{
    padding: 30px 0px 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.btn-c{
    background-color: transparent;
    color: orangered;
    border: 1px solid orangered;
    }

.banner-hero{
   width: 40%; 
}
.banner-hero > img {
   width: 100%; 
   background-image: url("../images/header_bg.png");
   background-repeat: no-repeat;
   background-position: bottom left;
}

.banner-content{
    width: 40%;
}
.developer{
    position: absolute;
    top: 50px;
    left: 20px;
    
}
.section-title{
    text-align: center;
}
.about{
    padding: 150px 150px 150px 150px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0 0 0;
    
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.info{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.what-i-do{
    background-color: transparent;
    padding: 0 150px 20px 150px;
    margin-top: 50PX;


}
.skill-container{
    display: flex;
    margin-top: 50px;
}
.skill{
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    border-radius: 10px;
}
/* .section-resume{
    padding: 0 230px 0 230px;
}
.secction-title{
    text-align: center;
    margin: 20px 0 30px 0;
}
.resume-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 100px;
    margin-bottom: 20px;
    
}
.main-r-details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 100px;
    
} */
.secction-title{
    text-align: center;
    margin: 20px 0 30px 0;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}

footer{
    
    padding: 0 220px 0 220px;
}
.f-selection-title{
    display: flex;
}